<div class="overlay_container" style="overflow: hidden; width: 99%;">
	<div style= "float:left; width:45%">
		<%= image_tag(tv_show.poster, :size => "200x300") %>
	</div>
	<div style= "float:right; width:45%">
		<h1><%=tv_show.name%></h1> 
		<h3>Rating (for you..) <%=tv_show.rating%> </h3>
		<h3>Released: tv_show.release_date (soon)</h3>
	</div>
</div>
<div style="width:95% ">
	<div class="overlay_info" style="overflow:hidden; height:200px">
		<h3>Description</h3>
		<p><%=tv_show.description%></p>
	</div>
</div>