<div id="netflix_partial">
	<div class="container_12">
		<div class="grid_12">	
			<h1 class="giant_goldfish">Netflix</h1>
		</div>
	</div>
	<% media.each_with_index do |show, index| %>
	<% if index < 6%>
	<% if (index % 6 == 0) %>
		<div class="container_12">
	<% end %>
		<div data-id="<%= String.class_to_data_id(show.class.to_s) %>/<%= show.id %>" class="grid_2 poster tv_show">
			<%= image_tag("#{show['poster']}", :size => "140x200") %>
			<h3 class="rank grey_shade"><span>Netflix</span></h3>
			<h3 class="rating grey_shade">
				<% if show['spudsy_rating'] >= 60 %>
				<img class="rt_img" src="../blue_tv.png" />
				<% else %>
				<img class="rt_img" src="../static_tv.png" />
				<% end %>
				<span><%= show['spudsy_rating'] %></span>
			</h3>
		</div> 
	<% if (index % 6 == 5) %>
		</div>
	<% end %>
	
	<% end %>
	
	<% end %>
	
</div>
