<h1>Thanks for signing up with Spudsy</h1>

<p>If you were directed to this page then that means you were able to sign in successfully.  Congrats! We're getting somewhere.</p>

<!--<p><%= @res %></p>
<p><%= @total_pages %></p>
<p><%= @first %></p>-->


