/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */
@font-face {
	font-family: LeagueGothic;
	src: url('../fonts/leaguegothic-regular-webfont.ttf'),
     		url('../fonts/leaguegothic-regular-webfont.eot'); /* IE9 */
}
@font-face {
	font-family: Franchise;
	src: url('../fonts/Franchise-Bold-hinted.ttf');
}

html {
       overflow-y: scroll;
}

body {
	background-image: url('../textures/dust_@2X.png') !important;
	padding-top: 0 !important;
	font-family: 'News Cycle' !important;
}

h1 {
	font-weight: normal !important;
	font-style: normal !important;
	margin: 15px 0 20px !important;
}

h2 {
	font-weight: normal !important;
	font-style: normal !important;
	font-size: 25px !important;
	line-height: 30px !important;
}

hr {
	margin-top: 25px !important;	
	margin-bottom: 0px !important;
}

label {
	display: inline !important;
	vertical-align: middle;
}

a {
	color: #999 !important;
}

#netflix_partial .container_12 {
	padding-top: 30px;	
}

#genre_select_chzn {
	margin-top: 25px;
}

/* SEARCH */

#search_box {
	width: 100%;
	border: 1px solid #ccc;
	font-family: 'News Cycle';
	font-size: 1.5em;
	height: 45px;
	padding-top: 0;
}

#search_container {
	border-bottom: 1px solid #eee;
	height: 55px;
}

#search_form {
	margin: 0 !important;
}

#magnify_img {
	position: absolute;
	margin-top: 15px;
	margin-left: -25px;
}

.container {
	width: 960px !important;
	max-width: 100%;
}

.grey_shade {
	color: white; 
	font: 200 24px/45px LeagueGothic !important;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
}

.content_type {
	position: absolute;
	top: -18px;
	left: 20px;
	padding: 5px 10px;
}

.rank {
	position: absolute; 
	top: -18px; 
	left: -8px;
	padding: 5px 10px;
}

.rating, .tv_rating {
	position: absolute; 
	top: 150px; 
	left: 80px;
	padding: 5px;
}

.tv_rating {
	left: 95px;
}

.rating span {
	padding-left: 33px;
} 

img.rt_img {
	width:30px;
	position: absolute;
	top: 12px;
}

.content {
	background-color: white;
	border: 1px solid #EEE;
	border-radius: 10px;
	padding:  50px 10px 10px;
}

.brand {
	font-family: LeagueGothic !important;
	font-size: 35px !important;
}

.brand:hover {
	color: white !important;
}

.navbar-inner {
	background-image: url('../textures/noisy_net_@2X.png') !important;
	-moz-box-shadow: 0px 0px 1px #CCC;
	-webkit-box-shadow: 0px 0px 1px #CCC;
	box-shadow: 0px 0px 1px #CCC;
}

.fixed_left_nav {
 	position: fixed; 
	margin-left: -156px; 
	top: 105px;
	width: 134px;
	height: 320px;
	border: 1px solid #EEE;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	background-color: white !important;
	padding-left: 10px;
}

.poster {
	-moz-box-shadow: 5px 5px 5px #CCC;
	-webkit-box-shadow: 5px 5px 5px #CCC;
	box-shadow: 5px 5px 5px #CCC;
	position: relative; 
	cursor:pointer;
	cursor:hand;
   	width: 100%; /* for IE 6 */
}

#view_more {
	float:right;
	padding: 15px;
}

#poster_slider_2, #poster_slider_3 {
	padding-top: 35px;
	display: none;
}

/* Giant Goldfish color palette */
.aoi {
	color: #69D2E7 !important;
}

.clean_pondwater {
	color: #67E6EC !important;
}

.beach_storm {
	color: #E0E4CC !important;
}

.giant_goldfish {
	color: #F38630 !important;
}

.unreal_food_pills {
	color: #FA6900 !important;
}
