// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.overlay
{
   background-color: #000;
   opacity: .7;
   filter: alpha(opacity=70);
   position: relative; top: 0; left: 0;
   width: 50%; height: 50%;
   z-index: 10;
}